@model ClassicGarage.Models.PartModels

@{
    ViewBag.Title = "Delete";
}



<div>
    Czy chcesz usunąć  <b>@Html.DisplayFor(model => model.Name)</b>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.ID)
        <div class="form-actions no-color">
            <input type="submit" value="Usuń" formaction=@Url.Action("DeleteConfirmed","PartModels") />
            @Html.ActionLink("NIE", "Index", "PartModels", new object { }, new { @class = "btn btn-default" })
        </div>
    }
</div>
